.profileInfo__text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-column: 1 / span 2;
    grid-row: 2;
}

@media (max-width: 450px) {
    .profileInfo__text {
        font-size: 14px;
        line-height: 17px;
    }
}